@model GoodsProject.Models.SaleOrderLineComment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaleOrderLineComment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommentLineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
