@model IEnumerable<GoodsProject.Models.SaleOrderLineComment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentLineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentLineID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentLineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
